<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535926557520-uuh96kunp60f49i7s1b11gd114on5mus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535926557520-uuh96kunp60f49i7s1b11gd114on5mus</string>
	<key>API_KEY</key>
	<string>AIzaSyBI0oCxKbL9uO-hEz_Oa4_eBt5vbuDi4mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>535926557520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matajer.cPanel</string>
	<key>PROJECT_ID</key>
	<string>matajerapp-298fc</string>
	<key>STORAGE_BUCKET</key>
	<string>matajerapp-298fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535926557520:ios:8cdc169aca3269a83e7a55</string>
	<key>DATABASE_URL</key>
	<string>https://matajerapp-298fc.firebaseio.com</string>
</dict>
</plist>